.form-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 0px;
}

input {
  margin-top: 10px;
  width: 150px;
}

select {
  width: 150px;
}

input::placeholder {
  padding-left: 3px;
  text-align: left;
}

input {
  text-align: left;
  padding-left: 3px;
}